<template>
    <div class="container">
        <form v-if="!isSubmitted">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>Sign Up</h1>
                    <hr>
                    <!-- Exercise 1 -->
                    <!-- Create a Signup Form where you retrieve the following Information -->
                    <!-- Full Name (First Name + Last Name) -->
                    <!-- Mail -->
                    <!-- Password -->
                    <!-- Store Data? Yes/No -->
                    <!--<div class="form-group">-->
                        <!--<label for="fullName">Full Name</label>-->
                        <!--<input-->
                                <!--type="text"-->
                                <!--id="fullName"-->
                                <!--class="form-control"-->
                                <!--v-model="userData.fullName">-->
                    <!--</div>-->
                    <app-full-name v-model="userData.fullName"></app-full-name>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input
                                type="text"
                                id="email"
                                class="form-control"
                                v-model="userData.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                class="form-control"
                                v-model="userData.password">
                    </div>
                    <div class="form-group"><p style="font-weight: bold">Store Data in DB</p></div>
                    <div class="form-group">
                        <label for="yes">
                            <input
                                    type="radio"
                                    id="yes"
                                    value="Yes"
                                    v-model="DBStore"> Yes
                        </label>
                        <label for="no">
                            <input
                                    type="radio"
                                    id="no"
                                    value="No"
                                    v-model="DBStore"> No
                        </label>
                    </div>

                    <!-- Exercise 2 -->
                    <!-- Only display the Form if it has NOT been submitted -->
                    <!-- Display the Data Summary ONCE the Form HAS been submitted -->
                    <div class="form-group">
                        <button type="submit" @click.prevent="submitedd"
                                class="btn btn-primary">Submit!
                        </button>
                    </div>

                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
                </div>
            </div>
        </form>
        <hr>
        <div class="row" v-if="isSubmitted">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ userData.fullName }}</p>
                        <p>Mail: {{ userData.email}}</p>
                        <p>Password: {{ userData.password}}</p>
                        <p>Store in Database?: {{ DBStore }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FullName from './FullName.vue';
    export default {
        data(){
            return {
                userData :{
//                    firstName: '',
//                    lastName :'',
                    fullName :'Guy Sinter',
                    email: '',
                    password: ''
                },
                DBStore: 'No',
                isSubmitted : false
            };
        },
        methods :{
            submitedd(){
                this.isSubmitted = true;
            }
        },
        components:{
            appFullName : FullName
        }
    }
</script>

<style>
</style>
